{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
    <div class="row">
        {% for category in categories %}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>
                            <a href="{{ path('category_articles', {'id':category.id}) }}">
                                {{ category.name }} ({{ category.articles.count }})
                            </a>
                        </h2>
                    </header>
                </article>
            </div>
        {% endfor %}
    </div>
    </div>


{% endblock %}
